/* carnet-ejemplo1.css   RA19027  */
pais {background-color:blue;}
nombre {color:yellow; display:inline;}
monedas {background-color:red; display:block;} 
moneda {color:white; display:inline;} 
codigoArea {color:yellow; display:inline;}
idiomas {background-color:rgb(43, 85, 25); display:block;} 
idioma {color:yellow; display:inline}
departamento {background-color:rgb(255, 119, 0); display:block;} 
cabecera {color:rgb(0, 0, 0);font-size: 18px; display:inline;}
habitantes {color:rgb(0, 0, 0); font-size:18px; display:inline;}
altura {color:rgb(0, 0, 0); font-size: 18px; display:inline;}
